# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.sqlite3
/media/
.env

# Static files (only if collected)
staticfiles/

# VS Code
.vscode/

# macOS
.DS_Store

# Environment
.venv/
env/
venv/

# Render build cache (optional)
*.log

# Pipenv
Pipfile.lock

# Secret keys / config
.env
.env.local
.env.production
